/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
docker/mysql/*
docker/logs/*
.env
.env.backup
.env.production
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
